<form id="newproject" name="project" method="post" action="/project">
   <div class="form-group">
      <label for="newProjectName">Project Name</label>
      <input name="name" type="text" class="form-control" id="newProjectName"
         placeholder="My new project">
   </div>
   <div class="form-group">
      <label for="newProjectDescription">Description</label>
      <input name="description" type="text" class="form-control" id="newProjectDescription" placeholder="Project description goes here.">
   </div>
   <input type="submit" class="btn btn-primary">
</form>