{{> nav/navbar}}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="/views/users">
                <img src="" alt="Users"
                    style="width:42px;height:42px;border:0;">
            </a>
        </div>
        <div class="col-sm">
            <a href="/views/dashboard">
                <img src="" alt="Projects" style="width:42px;height:42px;border:0;">
            </a>
        </div>
    </div>
</div>

{{> footer/footer}}