{{> nav/navbar}}

<div class="container">
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">USERS</h5>
                <div class="list-group">



                    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">GABRIEL</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">MARIA</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">ZACH</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">JOHNNY</a>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">PROJECTS</h5>
                <div class="list-group">


                    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">RECIPE GROUP</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">FIND YOUR PET
                        GROUP</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">CHAT GROUP GROUP</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">EVENT FINDER
                        GROUP</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}