{{> nav/navbar}}

<div class="container-fluid d-flex justify-content-center">
  <div class="card" style="width: 70rem;">

    {{!-- Main section --}}
    <main role="main" class="p-5">

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2 class="h2">My Dashboard</h2>
        <div class="btn-toolbar mb-md-0">
          <div class="btn-group">
            <a class="btn btn-md btn-outline-secondary" data-toggle="modal" data-target="#teamModal"><i class="fas fa-users mr-2"></i>Join Project</a>
            <a class="btn btn-md btn-outline-secondary" data-toggle="modal" data-target="#projectModal"><i class="fas fa-project-diagram mr-2"></i>Create Project</a>
          </div>
        </div>
      </div>
      <div class="jumbotron">
        <h1 class="display-4">Welcome, <span class="text-info">{{username}}</span></h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
          featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>

      <p>
        Laboris sunt ullamco quis labore laborum.

        Consectetur et culpa fugiat dolor officia tempor nostrud aute nostrud incididunt. Do cillum eiusmod excepteur
        ea. Occaecat sit ipsum do labore irure aliquip velit nulla. Minim velit magna reprehenderit aliquip ea ea
        proident nostrud occaecat amet sit. Non adipisicing pariatur veniam sit mollit eu.
      </p>

    </main>
  </div>
</div>

{{!-- new project modal --}}

 <div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="projectModalLabel">Create a project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

         {{> form/newProject }}
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="teamModal" tabindex="-1" role="dialog" aria-labelledby="teamModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="teamModalLabel">Recruit a team</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

         {{> form/newTeam }}
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>