<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="/views/create">
                <img src="https://pbs.twimg.com/profile_images/657254218244329472/Pim4zc0E_400x400.png" alt="CREATE"
                    style="width:42px;height:42px;border:0;">
            </a>
        </div>
        <div class="col-sm">
            <a href="/views/browse">
                <img src="http://www.clker.com/cliparts/e/b/m/A/J/L/browse-button-png-hi.png" alt="Browse" style="width:42px;height:42px;border:0;">
            </a>
        </div>
        <div class="col-sm">
            <a href="/views/about">
                <img src="http://files.hostgator.co.in/hostgator240036/image/about.jpg" alt="ABOUT" style="width:42px;height:42px;border:0;">
            </a>
        </div>
    </div>
</div>