<div class="container">
   <div class="card-group">
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title">CREATE A NEW PROJECT</h5>
      
    </div>
    <img href="/create" class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB_95JWtC89_QjPqG9eB9XFd6MLm9pIj8-6lz_9phXBTi0cFd_" alt="Card image cap">
  </div>
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title">BROWSE</h5>
      
    </div>
  <img href="/browse" class="card-img-top" src="https://cdn2.iconfinder.com/data/icons/flat-web/512/716985-magnifier-512.png" alt="Card image cap">
  </div>    
  <div class="card">
 
    <div class="card-body">
      <h5 class="card-title">ABOUT US</h5>
      
    </div>
       <img href="/about" class="card-img-top" src="" alt="Card image cap">
  </div>
    </div>