{{> nav/navbar}}

<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <img src="https://winkeyecare.com/wp-content/uploads/2013/03/Empty-Profile-Picture-450x450.jpg" alt="..." class="img-thumbnail"
        height="200pt" width="230pt">
    </div>
    <div class="col-lg-5">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">SKILLS</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button" class="btn btn-primary btn-lg btn-block">ADD SKILLS</button>
        </div>
      </div>
    </div>
  </div>
</div>


{{> footer/footer}}