/* Brand colors */
:root {
  --material-dark: #0E0B16;
  --material-light: #E7DFDD;
  --primary: #4717F6;
  --secondary: #A239CA;
}

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background:
    linear-gradient(
      rgba(255, 0, 0, 0.45),
      rgba(39, 3, 85, 0.45)
    ),
    url(../images/background.jpg);

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  color: var(--primary);
}

h2 {
  color: var(--secondary);
}

h3 {
  color: var(--primary);
}

.footer {
  text-align: center;
}