/* Brand colors */
:root {
  --material-dark: #0E0B16;
  --material-light: #E7DFDD;
  --primary: #4717F6;
  --secondary: #A239CA;
}

body, html {
  height: 100%;
}

/* Use for landing page */
.bg {
  background:
    linear-gradient(
      rgba(255, 0, 0, 0.45),
      rgba(39, 3, 85, 0.45)
    ),
    url(../images/background.jpg);

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Used for nav */
.bg-gradient {
  background: linear-gradient(
     rgba(255, 0, 0, 0.45),
     rgba(39, 3, 85, 0.45)
   ) !important;
}

.footer {
  text-align: center;
}