<nav class="navbar navbar-light bg-light justify-content-between">
  <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="/create">CREATE</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/browse">BROWSE</a>
  </li>
  <li class="nav-item">
    <a class="nav-link acitve" href="/about">ABOUT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">MVProjects</a>
  </li>
</ul>
</nav>
