<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">MVProjects</a>
  <a href="/views/create">CREATE</a>
  <a href="/views/browse">BROWSE</a>
  <a href="/views/about">ABOUT</a>
</nav>
