<nav class="navbar navbar-light bg-light justify-content-between">
  <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="/create">CREATE</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/browse">BROWSE</a>
  </li>
  <li class="nav-item">
    <a class="nav-link acitve" href="/about">ABOUT</a>
  </li>
  <a class="navbar-brand" href="/home">
    <img src="https://4.imimg.com/data4/WC/KE/MY-28838676/plastic-button-250x250.jpg" width="30" height="30" alt="">
  </a>
</ul>
</nav>
